#monBorderPane {
	-fx-background-color: black;
}

.courant {
    -fx-border-color: blue;
    -fx-border-width: 5px;
}

.correct {
	-fx-background-color: green;
}

.erreur {
    -fx-background-color: red;
}